[Unit]
Description=MeshBBS BBS for MeshCore
After=network.target

[Service]
Type=simple
User=MeshBBS
Group=MeshBBS
WorkingDirectory=/opt/meshmail
EnvironmentFile=/var/lib/meshmail/config.env
ExecStartPre=/bin/chown meshmail:meshmail /var/lib/meshmail/MeshBBS.db
ExecStart=/opt/meshmail-venv/bin/python3 /opt/meshmail/main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
